<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>T</b>R</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Tienda</b>Repuestos</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">           
          
            <!-- User Account: style can be found in dropdown.less -->
             <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" class="img-circle" alt="User Image" height="20" width="20" > 
                <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" class="img-circle" alt="User Image" > 
                   <p>
                     {{ user.username|capfirst }} {{ user.last_name|capfirst }}
                
                  </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                  </div>
                  <div class="pull-right">
                    <a href="[% url 'users_app:logout' %]" class="btn btn-default btn-flat">Salir</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!--<li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>-->
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
          <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" class="img-circle" alt="User Image" > 
          </div>
          <div class="pull-left info">
            <p>{{ user.username|capfirst }} {{ user.last_name|capfirst }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">MENU PRINCIPAL</li>

       
          
          <li class="treeview">
            <a href="#">
              <i class="fa fa-child"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/clientes/lista_tipo_cliente.html"><i class="fa fa-check-square"></i> Tipos de Cliente</a></li>
              <li class="active"><a href="/clientes/lista_cliente.html"><i class="fa fa-check-square"></i> Lista</a></li>
              <li><a href="/clientes/create_update_clientes.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-list-alt"></i> <span>Suscripciones</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/suscripciones/lista_suscrip.html"><i class="fa fa-check-square"></i> Lista Suscripciones</a></li>
              <li><a href="/suscripciones/create_suscrip.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-industry"></i> <span>Fábricas</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/fabricas/lista_fabricas.html"><i class="fa fa-check-square"></i>Lista de fábricas</a></li>
              <li><a href="/fabricas/create_fabricas.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-wrench"></i> <span>Repuestos</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/repuestos/lista_repuestos.html"><i class="fa fa-check-square"></i>Catálogo de repuestos</a></li>
              <li><a href="/repuestos/create_repuestos.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-car"></i> <span>Vehículos</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/vehiculos/lista_vehiculos.html"><i class="fa fa-check-square"></i>Lista de vehículos</a></li>
              <li><a href="/vehiculos/create_vehiculos.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-cogs"></i> <span>Compatibilidad</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/compat/lista_compat.html"><i class="fa fa-check-square"></i>Listado</a></li>
              <li><a href="/compat/create_compat.html"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
            </ul>
          </li>

          <!-- <li class="treeview">
            <a href="#">
              <i class="fa fa-industry"></i>
              <span>Fábricas</span>
              <span class="label label-primary pull-right">2</span>
            </a>
            <ul class="treeview-menu">
              <li><a href=""><i class="fa fa fa-check-square"></i> Lista</a></li>                
              <li><a href=""><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>               
            </ul>
          </li> -->

          <li class="treeview">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>Compras</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href=""><i class="fa fa-circle-o"></i> Listado de Compras</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i> Realizar Compras</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i> Reportes Compras</a></li>                
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Ventas</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="/orden/crear_factura.html"><i class="fa fa-circle-o"></i> Crear Orden de compra</a></li>
              <li><a href="/orden/lista_venta.html"><i class="fa fa-circle-o"></i> Ordenes de compra</a></li>
              <li><a href="/factura/crear_factura.html"><i class="fa fa-circle-o"></i> Realizar Venta</a></li>
              <li><a href="/factura/lista_venta.html"><i class="fa fa-circle-o"></i> Lista Ventas</a></li>
            </ul>
          </li>

      <!--    <li class="header">Alertas</li>
          <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Medicamentos</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Compras</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Ventas</span></a></li>      -->
      </section>
      <!-- /.sidebar -->
    </aside>
    
