{% extends 'orden/base_factura.html' %}
{% block title %}RealizarOrdenCompra{% endblock title %}
{% block content %}
{% include "nav.html" %}

<div class="wrapper"> 
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Main content -->
         <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>            
            Orden de compra
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/orden/lista_venta.html">Ordenes</a></li>
            <li class="active">Crear Orden</li>
          </ol>
        </section>

    <section class="content">          
      <!-- START ALERTS AND CALLOUTS -->     
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
          
            <div class="box-header with-border">                            
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->            
            </div><!-- /.box-header -->
              <div class="box-body">



    
        {% if messages %}{% for message in messages %}
          <div class="alert alert-success alert-dismissable">
          <i class="fa fa-info"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> {{ message }}
          </div>
      {% endfor %}{% endif %}

        <!-- Main content -->
        <section class="content invoice">                    
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> TiendaRepuestos.
                        <small class="pull-right">Fecha: {% now "d/m/Y" %}</small>
                    </h2>                            
                </div><!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <b>Orden</b> <br/>

                    <!-- Serie:<input name="p-serie" id="p-serie" placeholder="Serie" type="text" required="true"><br/>
                    Num:<input name="p-num" id="p-num" placeholder="Numero" type="text" required="true"> -->
                    <br/>
                    <b>Fecha de orden:</b> {% now "d/m/Y" %}<br/><br/>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="buscarProductoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Cancelar</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Buscar Repuestos</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <input name="producto" id="producto-id" class="form-control" placeholder="Ingrese id del repuesto" type="text">
                                        <span class="input-group-btn">
                                            <button name="seach" id="p-buscar" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <div id="producto-resultado"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" id="p-seleccionar" disabled>
                                        Seleccionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscarProductoModal">
                        Seleccionar Repuestos
                    </button>

                </div><!-- /.col -->

                <div class="col-sm-4 invoice-col">
                    <strong>Cliente</strong>
                    <!-- Modal -->
                    <div class="modal fade" id="buscarClienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Cancelar</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Buscar Cliente</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <input name="cliente" id="cliente-id" class="form-control" placeholder="Ingrese id del cliente" type="text">
                                        <span class="input-group-btn">
                                            <button name="seach" id="c-buscar" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <div id="cliente-resultado"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" id="c-seleccionar" disabled>
                                        Seleccionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button data-toggle="modal" data-target="#buscarClienteModal">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Cancelar</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Crear Producto</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/orden/crear_factura" method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        <input type="submit" value="Guardar" />
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                                        
                    <br>
                    Id: <span id="c-id"></span><br/>
                    Nit: <span id="c-nit"></span><br/>
                    nombre: <span id="c-nombre"></span><br/>
                    email: <span id="c-email"></span><br/>
                    telefono: <span id="c-telefono"></span><br/>
                    tipo: <span id="c-tipo"></span><br/>
                </div><!-- /.col -->


                <div class="col-sm-4 invoice-col">
                    <strong>Despachador</strong><br>
                    Nombre: {{ user.username|capfirst }}<br>
                    User: {{ user.email }}<br>
                    
                </div><!-- /.col -->
                
            </div><!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped" id="tb-detalle">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Producto</th>
                                <th>ID</th>
                                <th>Precio de venta</th>
                                <th>Cantidad</th>
                                <th>IVA+Ganancia</th>
                                <th>Subtotal</th>
                            </tr>                                    
                        </thead>
                        <tbody>
                        </tbody>
                    </table>                            
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        No se realiza cambio ni devolución de dinero por los productos adquiridos, por favor verifique el estado de cada uno de los items de su compra.
                    </p>
                </div><!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead">Totales de la compra</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td align="center"> <label id='sum-subtotal'>.00</label></td>
                            </tr>
                            <tr>
                                <th>IVA(12%) + Ganancia (40%)</th>
                                <td align="center"><label id='sum-tax'>.00</label></td>
                            </tr>
                            <tr>
                                <th>Total sin descuento: Q</th>
                                <td align="center"><label id='sum-total'>.00</label></td>
                            </tr>
                            <tr>
                                <th>Total con descuento: Q</th>
                                <td align="center"><label id='desc'>.00</label></td>
                            </tr>
                        </table>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <form action="/orden/crear_factura" method="post" onsubmit="onEnviar()">
                        {% csrf_token %}
                        <input id="proceso" name="proceso" type="hidden" />
                        <button class="btn btn-success pull-right" id="comprar"><i class="fa fa-credit-card"></i> Generar Orden</button>  
                    </form>
                    <button class="btn btn-primary pull-right"
                        style="margin-right: 5px;" onclick="window.print();"><i
                            class="fa fa-download"></i>Imprimir </button>
                </div>
            </div>

        </form>
        </section><!-- /.content -->

                              
              </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


{% endblock content%}